# Ignore Terraform state files
*.tfstate
*.tfstate.*

# Ignore directories used for Terraform state and logs
.terraform/
terraform.tfstate.backup
terraform.tfstate


# Ignore Terraform state files
./infra/terraform.tfstate
./infra/*.tfstate.*
./infra/.terraform.lock.*

# Ignore directories used for Terraform state and logs
./nfra/.terraform/*
./infra/terraform.tfstate.backup

./script/terraform.tfstate