# Ignore Terraform state files
*.tfstate
*.tfstate.*

# Ignore directories used for Terraform state and logs
.terraform/
terraform.tfstate.backup


# Ignore Terraform state files
./infra/terraform.tfstate
./infra/*.tfstate.*

# Ignore directories used for Terraform state and logs
./nfra/.terraform/
./infra/terraform.tfstate.backup